/* Blowfish Scheme Generated */
:root {
  --color-neutral: 255, 255, 255;

  /* Neutral */
  --color-neutral-50: 247, 248, 248;
  --color-neutral-100: 244, 245, 246;
  --color-neutral-200: 232, 235, 237;
  --color-neutral-300: 184, 194, 198;
  --color-neutral-400: 159, 171, 178;
  --color-neutral-500: 113, 132, 142;
  --color-neutral-600: 95, 111, 119;
  --color-neutral-700: 68, 79, 85;
  --color-neutral-800: 39, 45, 48;
  --color-neutral-900: 23, 26, 28;

  /* Primary */
  --color-primary-50: 255, 252, 240;
  --color-primary-100: 254, 251, 235;
  --color-primary-200: 254, 248, 215;
  --color-primary-300: 252, 232, 131;
  --color-primary-400: 251, 223, 86;
  --color-primary-500: 249, 208, 6;
  --color-primary-600: 209, 175, 5;
  --color-primary-700: 149, 125, 4;
  --color-primary-800: 85, 71, 2;
  --color-primary-900: 50, 42, 1;

  /* Secondary */
  --color-secondary-50: 250, 245, 246;
  --color-secondary-100: 248, 242, 244;
  --color-secondary-200: 241, 228, 232;
  --color-secondary-300: 211, 171, 183;
  --color-secondary-400: 195, 141, 158;
  --color-secondary-500: 167, 88, 112;
  --color-secondary-600: 140, 74, 94;
  --color-secondary-700: 100, 53, 67;
  --color-secondary-800: 57, 30, 38;
  --color-secondary-900: 33, 18, 22;
}